@import "common";
@import "mixin";
@import "variables";

.articles-box {
  position: relative;
}

.articles-box_btn {
  @include btn(auto,500px);
  display: block;
  margin:0 auto;
  margin-top: 30px;
  margin-bottom:20px;
  text-align: center;
  & a {
    display: block;
    text-decoration: none;
    font-size:18px;
    padding:25px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $color;
  }
  position: relative;
}
.articles-box_btn:after{
  position: absolute;
  content:"";
  height:2px;
  width:200px;
  background:#ffc66f;
  bottom:-15px;
  left:50%;
  margin-left:-100px;
}
.post-form{
  text-align: center;
}
.post-form_btn{
 @include btn(50px,50px);
}